/*html, body {*/
/*  height: 100%;*/
/*  margin: 0;*/
/*}*/

/*.horizontal-scroll-wrapper {*/
  /*width: 700px;*/
  /*height actually is width*/
/*  position:absolute;*/
/*  display:block;*/
/*  top:0;*/
/*  left:0;*/
/*  width:700px;*/
/*  max-height:1000px;*/
/*  margin:0;*/
  /*height: 100%; */
/*  overflow-y: auto;*/
/*  overflow-x: hidden;*/
/*  margin: 0px;*/
/*  transform: rotate(-90deg) translateY(-500px);*/
/*  transform-origin: right top;*/
/*}*/

/*.section{*/
/*  width: 100%;*/
  /*height is each section's width*/
/*  height: 100px;*/
/*  border-radius: 20px;*/
/*  transform-origin: right top;*/
/*  padding-top: 50px;*/
/*  padding-left: 10px;*/
/*  background: red;*/
/*  transition: height 1s;*/
/*  position: -webkit-sticky;*/
/*  position: sticky;*/
/*}*/


/*.section:hover + div {*/
/*  padding-bottom: 1340px;*/
/*  background: blue;*/
/*  display: block;*/

/*}*/

/*#intro{*/
/* height: 2000px;*/
/*}*/

/*.inactive {*/
/*  background-color: yellow;*/
/*  padding: 20px;*/
/*  display: none;*/
/*  height:50px;*/
/*}*/

/*span:hover + div {*/
/*  display: block;*/
/*}*/


::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}

div{
  box-sizing:border-box;
}

body {
  background: #FFFAF0;
}

.horizontal-scroll-wrapper{
  position:absolute;
  display:block;
  top:0;
  left:0;
  width:800px;
  max-height:1440px;
  margin:0;
  background:#FFFAF0;
  overflow-y:scroll;
  overflow-x:hidden;
  transform:rotate(-90deg) translateY(-850px);
  transform-origin:right top;
}
.horizontal-scroll-wrapper > div{
  display:block;
  padding:5px;
  background:#cab;
  transform:rotate(90deg) translateX(700px);
  transform-origin: right top;
}

.squares{
  padding:60px 0 0 0;
}

.squares > div{
  width:700px;
  height:700px;
  margin:10px;
}

.rectangles{
  top:100px;
  padding:100px 0 0 0;
}
.rectangles > div{
  width:140px;
  height:60px;
  margin:50px 10px;
  padding:5px;
  background:#cab;
  transform:rotate(90deg) translateY(80px);
  transform-origin: right top;
}