::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}

div{
  box-sizing:border-box;
}

a {
  color:#000000; 
  padding-left:20px;
  font-family: gopher, sans-serif;
}

h1 {
  transform: rotate(90deg) translateY(350px) translateX(970px);
  color:#FFFAF0;
  font-family: gopher, sans-serif;
  font-style: normal;
  font-weight: 400;
}

h2 {
  color:#000000;
  font-family: gopher, sans-serif;
  font-style: normal;
  font-weight: 400; 
  font-size: 18px;
  margin-top: 10px;
}

h3 {
  color: #FFFAF0;
  font-family: gopher, sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400; 
  /*margin-top: 30px;*/
}

h4 {
  color: #FFFAF0;
  font-family: courier-std, monospace;
  font-style: normal;
  font-weight: 400; 
  font-size: 12px;
  width: 400px; 
  transform: rotate(90deg)translateY(-70px)translateX(-290px);

}

p {
  color: #000000;
  font-family: courier-std, monospace;
  font-style: normal;
  font-weight: 400; 
  font-size: 14px;
  width: 400px;
}

.horizontal-scroll-wrapper{
  position:absolute;
  top:0;
  left:0;
  width:700px;
  max-height:1500px;
  margin:0;
  background:#000000;
  overflow-y:scroll;
  overflow-x:hidden;
  transform:rotate(-90deg) translateY(-750px);
  transform-origin:right top;
  /*transition: 0.4s;*/
}

.section{
  display:block;
  padding-left:10px;
  padding-top: 10px;
  background:#FFFAF0;
  height:40px;
}

.introsection{
  display:block;
  padding:10px;
  background:#000000;
  overflow-y:hidden;
  overflow-x:hidden;
  z-index: 999;
}

.squares{
  padding:50px 0 0 0;
}

.squares > div{
  width:700px;
  /*height:200px;*/
  margin:10px;
  margin-left: 0px;
}

#intro{
 height:1220px;
 width:2000px;
 overflow:hidden;
 z-index: 99;
}

#fixed {
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  /*position: fixed;*/
  /*width: 100%;*/
  /*top: 0;*/
  /*z-index: 99;*/
}



.section:hover {
  background: blue;
  display: block;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  /*transform: translateY(100px)*/
}

#graph1{
  height:1500px;
  width:1440px;
  display:block;
  background:#000000;

}

#graph2 {
  height:1500px;
  width:1440px;
  margin-bottom: 300px;
  display:block;
  background:#000000;
  padding-bottom: 100px;
}

.graph3 {
  height:1500px;
  width:1440px;
  /*margin-bottom: 300px;*/
  /*display:block;*/
  background:#000000;
  /*padding-bottom: 100px;*/
}





#graphic {
    max-width:  1440px;
    width: 100%;
    position: relative; 
    height: 100%;
    position: relative; 
    margin:auto;
}

.container {
    height: 100%;
    max-width: 440px;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    height: 100%;
    left: 500px;
}

.container div {
    height: 100%;
    display: block;
    padding: 0 45px;
}


.fixed {
  position: fixed;
  position: sticky;
  max-width: 500px;
  height: 100%;
  /*top: 200px;*/
}


.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 25px;
  bottom:50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #FFFAF0;
  height:675px;
  /*border: 2px solid #4CAF50;*/
  /*margin-top: 200px;*/
}

#svg-container{
    /*width:500px;*/
    /*height:500px;*/
    /*padding-top: 400px;*/
    /*padding-right: 50px;*/
    padding-left: -100;
    height: 900px;
    padding-top: 400px;
    padding-left: 280px;
}

#map { 
  /*position: fixed; */
  position: -webkit-sticky;
  position: sticky;
  top: 0; 
  bottom: 0;
  left: 700px;
  bottom:18px;
  width:50%;
  height: 680px; 
}

#features {
  width: 30%;
  margin-left: 70%;
  font-family: sans-serif;
  overflow-y: scroll;
  background-color: #BFCAD6;
  display:absolute;
}

section {
  /*padding: 50px 50px;*/
  /*line-height: 25px;*/
  opacity: 0.1;
}

section.active {
  opacity: 1;
}

section:last-child {
  border-bottom: none;
  /*margin-bottom: 200px;*/
}


#employment {
  position: -webkit-sticky;
  position: sticky;  
  /*top:500px;*/
}

.buttongroup {
  position: -webkit-sticky;
  position: sticky;  
  /*top:500px;*/
  margin-left: 30px;
  padding-top:100px;
}